.App {
  text-align: center;
}

.App > header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-colour);
}

.App > header h1 {
  font-family: var(--font-title);
}

.App > footer {
  min-height: 200px;
  height: 40vmin;
}

.App > footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > footer li {
  width: 12em;
  margin: 0 2em;
}