---
import PageLayout from '~/layouts/PageLayout.astro'
import { signup, AuthToken } from '~/auth'
import { AuthForm } from '~/components'

// handle the no JS route
const isGet = Astro.request.method.toLowerCase() === 'get'

let error: string
let auth: AuthToken

try {
  auth = await signup(Astro.request)
} catch (e) {
  error = e.message
  if (!isGet) {
    return new Response(JSON.stringify({ error }), { status: 400 })
  }
}

if (auth) {
  Astro.request.headers.set('Authorization', `Bearer ${auth.access_token}`)
  if (isGet) {
    return Astro.redirect('/')
  } else {
    return new Response(JSON.stringify(auth), {
      status: 200,
    })
  }
}
---
<PageLayout>
  <h1>Signup</h1>
  <AuthForm client:load formType='signup' error={error} />
</PageLayout>

