---
import { isLoggedIn } from '~/auth'
import PageLayout from '~/layouts/PageLayout.astro'

if (!await isLoggedIn(Astro.request.headers, ['creator'])) {
  Astro.redirect('/')
}
---
<PageLayout>
  <h1>Upload</h1>
</PageLayout>
