@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

main {
	background-color: #020100;
	width: 1920px;
	height: 1080px;
	display: flex;
	align-items: center;
	padding: 0 15vw 5vh;
	position: relative;
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: 'Bungee Inline', cursive;
	font-size: 10em;
	text-align: center;
	color: #fff;
}

span {
	margin-left: 0.2em;
	transition: opacity 0.01s ease-in-out;
}

p#prompt {
	font-size: 14em;
	color: #fff;
	position: absolute;
	transition: all 0.1s ease-in-out;
}
p#prompt.blink {
	animation: blink 0.8s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.sequential {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}

.operations {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

#go-static {
	justify-content: center;
	flex-direction: column;
}

#go-static h1 {
	margin: 0;
}

.jotai-character {
	animation: float 1s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0);
	}
}

#typed-css-vars {
	flex-direction: column;
}

#typed-css-vars .typed {
	color: #007acc;
}
#typed-css-vars .variables {
	color: #007acc;
}
#typed-css-vars :is(.css, .react) {
	width: 200px;
}
#typed-css-vars .react {
	animation: spin 2s linear infinite;
	position: absolute;
	bottom: 100px;
	right: 100px;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

#tmux-session-comms {
}

#tmux-session-comms h1 {
	/** tmux green */
	color: #1bb91f;
}

#tmux-session-comms .session {
	position: absolute;
	top: 200px;
	left: 100px;
	font-size: 60px;
}

#tmux-session-comms .communication {
	position: absolute;
	bottom: 0px;
}

#tmux-session-comms .tmux {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 500px;
}

#tmux-session-comms .megaphone {
	position: absolute;
	bottom: -100px;
	left: -150px;
	width: 500px;
	z-index: 20;
}

#tmux-session-comms .communication2 {
	position: absolute;
	bottom: 300px;
	left: 150px;
	font-size: 50px;
	z-index: 1;
}
