@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Smooch&family=Source+Code+Pro:ital@0;1&display=swap');

:root {
  --background-colour: #282c34;
  --text-colour: white;
  --purple: #b318f0;
  --font-main: 'Manrope', sans-serif;
  --font-title: 'Smooch', cursive;
  --font-code: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-colour);
}

code {
  font-family: var(--font-code);
}
