---
import '../assets/global.css'
import { Footer, Header } from '~/components'
import codeImg from '../assets/mitchell-luo-FWoq_ldWlNQ-unsplash.jpg'

const { title } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title || 'Shorts'}</title>
    <!-- TODO: move this script into Partytown -->
    <script async defer data-website-id="e7050b8c-eec7-46cc-ae22-1b360e03ddef" src="https://umami-production-8826.up.railway.app/umami.js"></script>
  </head>
  <body class="flex flex-col min-h-screen bg-black">
    <div class='fixed min-h-screen min-w-screen -z-20'>
      <img alt='background code image' src={codeImg} class='fixed object-cover h-full w-full opacity-50' />
      <!-- <div class='bg-black/50 h-screen w-screen fixed' /> -->
    </div>
    <Header client:load />
    <main class="w-full p-4 space-y-2 flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>

