---
import '../global.css'

const { title } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title || 'Shorts'}</title>
    <script defer async data-website-id="e7050b8c-eec7-46cc-ae22-1b360e03ddef" src="/umami.js"></script>
  </head>
  <body>
    <main class="w-full p-4 space-y-2">
      <slot />
    </main>
  </body>
</html>

